:root {
  --clr-white: hsl(0, 0%, 99%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-grey: rgba(170, 168, 168, 0.283);
  --clr-stone100: hsl(30, 18%, 87%);
  --clr-stone600: hsl(30, 10%, 34%);
  --clr-stone000: hsl(24, 5%, 18%);
  --clr-brown800: hsl(14, 45%, 36%);
  --clr-rose800: hsl(332, 51%, 32%);
  --clr-rose50: hsl(330, 100%, 98%);


  --clr-body: rgb(239, 228, 216);
  --fs-body: 16px;

  --ff-young-serif: Young-serif;
  --ff-outfit: Outfit;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --mobile: 375px;
  --desktop: 1440px;
}

@font-face {
  font-family: Young-serif;
  src: url(../fonts/young-serif/YoungSerif-Regular.ttf) format(truetype),
    url(../fonts/young-serif/YoungSerif-Regular.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: Outfit;
  src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf) format(truetype),
    url(../fonts/outfit/Outfit-VariableFont_wght.woff2) format(woff2);
  font-display: swap;
}

body {
  font-family: var(--ff-outfit);
  font-size: var(--fs-body);
  background-color: var(--clr-body);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150vh;
}

.wrapp {
  background-color: var(--clr-white);
  max-width: 43.75rem;
  padding: 2.1rem;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.image-recipe__img {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
}

h1,
h2 {
  font-family: var(--ff-young-serif);
  font-weight: var(--fw-400);
}

h2 {
  color: var(--clr-brown800);
}

p {
  font-weight: var(--fw-400);
}

section {
  margin: 2rem 0;
}

.recipe-resume__p,
.nutrition-container__p {
  margin: 1rem 0;
}

.time-to-cook__section {
  background-color: var(--clr-rose50);
  padding: 1.2rem 1rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

.time-to-cook__p {
  color: var(--clr-rose800);
  font-weight: var(--fw-700);
}

ul,
ol {
  padding-left: 1.5rem;
}

ul li::marker,
ol li::marker {
  color: var(--clr-rose800);
}

ul li span,
ol li span {
  font-weight: var(--fw-700);
}

ul li,
ol li {
  margin: 0.5rem 0;
  padding-left: .4rem;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-row > p {
  margin-left: .5rem;
}

hr {
  border-bottom: 0.5px solid var(--clr-grey);
  opacity: 0.2;
}

.nutrition-table {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}

.nutrition-table-row {
  display: flex;
  justify-content: center;
  border-bottom: 0.1rem solid var(--clr-grey);
}

.nutrition-table-row:last-child {
  border-bottom: none;
}

.col-description p {
  margin-left: 2em;
}

.col-description,
.col-quantity {
  width: 50%;
}

.col-quantity {
  color: var(--clr-brown800);
} 

.col-quantity p {
  font-weight: var(--fw-700);
}

@media ( max-width: 23.4375rem ) {

  body {
    min-height: 100vh;
  }

  .wrapp {
    width: 100vw;
    padding: 0rem;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }

  .image-recipe__img {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    width: 100%;
    margin-bottom: 0;
  }

  .container {
    padding: 1.6rem;
  }

  .recipe-title__h1 {
    line-height: 1.1;
  }


}





